body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin: 0 auto; /* Центрирование по горизонтали */
    padding: 0;
    width: 90%; /* Ширина 70% */
    background-color: #000; /* Черный фон */
    color: #fff; /* Белый текст */
    
}

.theory-block {
    border-radius: 10px;
    border: 2px solid #32CD32;
    padding: 20px;
    margin-bottom: 20px;
    background-color: transparent;
    opacity: 0; /* Начальное состояние - невидимый */
    transform: translateY(20px); /* Смещение вниз для эффекта плавного появления */
    transition: opacity 0.6s ease-out, transform 0.6s ease-out;
}

.theory-block h2 {
    color: #32CD32;
    text-align: center;
}

.theory-block p {
    text-align: justify;
    margin-bottom: 0;
}


h1, h2 {
    text-align: center;
    color: #32CD32; /* Зеленый неоновый */
    font-size: 1.5em;
}

p, ol {
    width: 100%;
    box-sizing: border-box;
    text-align: justify;
    margin-bottom: 20px;
}

.formula {
    background-color: #3E3E3E; /* Зеленый неоновый */
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 20px;
    font-style: italic;
    text-align: center;
}

label {
    display: inline-block;
    background-color: #32CD32; /* Зеленый неоновый */
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    margin-bottom: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
    text-align: center;
}

input[type="radio"] {
    display: none;
}

input[type="radio"]:checked + label {
    background-color: #ffffff;
    color: #32CD32; /* Зеленый неоновый */
}

#theorySection {
    display: block;
}

#calculatorSection {
    display: none;
    text-align: center;
}

.section {
    display: none;
}




.calc {
    text-align: center;
    font-size: 1.2em;
}

.button-container {
    text-align: center;
    margin-bottom: 20px;
}

.button {
    display: inline-block;
    background-color: #000000; /* Черный фон */
    color: #32CD32; /* Белый текст */
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Добавлен переход для цвета рамки */
    border: 2px solid #FFFFFF; /* Белая рамка */
    font-size: 1.2em;
}

.button:hover {
    background-color: #32CD32; /* Зеленый фон при наведении */
    color: #000000; /* Белый текст */
    border-color: #32CD32; /* Зеленая рамка при наведении */
}


.content-container {
    text-align: center;
}

#matrix-size option:hover {
    background-color: #32CD32; /* Зеленый неоновый */
    color: #ffffff;
}

@keyframes slide-in-left {
    from {
        transform: translateX(-100%);
        opacity: 0;
    }

    to {
        transform: translateX(0);
        opacity: 1;
    }
}

@keyframes slide-in-bottom-right {
    from {
        transform: translate(100%, 100%);
        opacity: 0;
    }

    to {
        transform: translate(0, 0);
        opacity: 1;
    }
}

.animate-from-left {
    animation: slide-in-left 2s ease-out forwards;
}

.animate-from-bottom-right {
    animation: slide-in-bottom-right 2s ease-out forwards;
}

.scroll-animation {
    opacity: 1 !important;
    transform: translateY(0) !important;
}

#cy {
    width: 60%;
    height: 600px;
    border: 2px solid #000;
    text-align: center;
    margin: auto; /* Выравниваем по центру */
    position: relative;
    overflow: hidden; /* Чтобы граф не выходил за пределы контейнера */
}

#cy canvas, #cy div {
    width: 100% !important;
    height: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}


.button-matrix {
    display: inline-block;
    background-color: #000000; /* Черный фон */
    color: #32CD32; /* Белый текст */
    padding: 10px 20px;
    border-radius: 5px;
    margin-right: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease, border-color 0.3s ease; /* Добавлен переход для цвета рамки */
    border: 2px solid #FFFFFF; /* Белая рамка */
    font-size: 1.2em;
}

#matrix-size {
    display: block;
    margin: 0 auto;
    text-align: center;
    border-radius: 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.1em;
    color: #32CD32;
    width: 120px; /* Увеличиваем ширину */
    margin-bottom: 10px; /* Добавляем отступ снизу */
    appearance: none; /* Убираем стандартную стрелку */
    background: url('data:image/svg+xml;charset=US-ASCII,<svg xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="%2332CD32" class="bi bi-caret-down-fill" viewBox="0 0 16 16"><path d="M3.204 5h9.592a.5.5 0 0 1 .374.832l-4.796 5.5a.5.5 0 0 1-.748 0l-4.796-5.5A.5.5 0 0 1 3.204 5z"/></svg>') no-repeat right 10px center;
    background-size: 14px 14px;
    padding-right: 30px; /* Делаем отступ для стрелки */
}

#matrix-container {
    display: flex;
    margin: 0 auto 20px; /* Добавляем отступ снизу */
    text-align: center;
    font-size: 1.1em;
    justify-content: center;
}


.input {
    margin: 4px; /* Добавляем фиксированные отступы */
    width: 50px; /* Фиксированная ширина для поля ввода */
    height: 32px; /* Фиксированная высота для поля ввода */
    text-align: center;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 1em;
    transition: border-color 0.3s ease;
}

/* Добавляем медиа-запрос для адаптивности */
@media (max-width: 768px) {
    .matrix-input {
        width: 15vw; /* Относительная ширина для мобильных устройств */
        height: 8vw; /* Относительная высота для мобильных устройств */
    }
}

/* Ограничиваем ввод только символами "0" или "1" */
.matrix-input:invalid {
    border-color: #f00; /* Цвет границы при недопустимом вводе */
}

.matrix-input:valid {
    border-color: #ccc; /* Цвет границы при допустимом вводе */
}

.matrix-input:focus {
    border-color: #32CD32; /* Зеленый неоновый */
    outline: none;
}

#message {
    text-align: center;
    margin: 20px 0;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(10, 10, 10, 0.9); /* Почти черный цвет фона */
    padding-top: 60px;
}

.modal-content {
    background-color: black !important; /* Черный цвет для контента */
    border: 2px solid white !important; /* Белая рамка */
    z-index: 1;
    border-radius: 10px; /* Закругленные края */
    margin: 5% auto;
    padding: 20px;
    max-width: 600px;
    text-align: center;
    color: #32CD32; /* Белый цвет текста */
}

    .modal-content p {
        text-align: center; /* Центрируем текст */
        color: white !important;
        z-index: 1;
    }

    .modal-content pre {
        color: white; /* Белый цвет текста для элемента pre */
        z-index: 1;
    }

.close {
    color: white !important; /* Белый цвет для крестика */
    float: right !important;
    font-size: 38px !important;
    font-weight: bold;
    z-index: 1;
}

    .close:hover,
    .close:focus {
        color: #ccc; /* Цвет крестика при наведении */
        text-decoration: none;
        cursor: pointer;
        z-index: 1;
    }




